* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
}




/* common styles */


@keyframes right-arrow {
    from {
        gap: 0%;
    }

    to {
        gap: 8%;
    }

}


@keyframes bounce {
    from {
        top: 0;
    }

    to {
        top: 20px;
    }

}

@keyframes appearing {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shaking {
    0% {
        transform: rotate(-4deg);

    }

    100% {
        transform: rotate(4deg);
    }
}


.flex,
.nav-container {
    display: flex;
}

.section {
    width: 100%;
}



/* button styles */


.primary-btn {
    color: white;
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right top, rgb(255, 247, 0), rgb(106, 0, 255));
    position: relative;
    cursor: pointer;
    transition: 1s;
    animation: right-arrow .5s infinite alternate;


}

.banner-btn-right {

    color: #00FF88;
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid #00FF88;
    background-color: transparent;
    cursor: pointer;
    transition: 1s;


}

.banner-btn-right:hover {
    transform: scale(1.1);
    background-color: #00ff8855;
    color: white;
}

.banner-btn-left {
    animation: appearing 2s ease-in-out infinite alternate-reverse;

}


.primary-btn:hover {
    transform: scale(1.1);

}


.episode-card:hover {
    box-shadow: 3px 2px 24px -5px rgb(137, 114, 114);
}






/* main styles */




/* nav-section-styles */


.nav-container {
    justify-content: space-between;
    background-color: #1A0B2E;
    padding: 16px 12.5%;
}

.nav-container .logo {
    font-weight: 900;

}

.logo .wave {
    background-image: linear-gradient(50deg, rgb(255, 0, 200), rgb(0, 26, 255));
    color: transparent;
    background-clip: text;

}

.nav-bars {
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}


.nav-bars ul {
    list-style: none;

}

.nav-bars ul a {
    text-decoration: none;
    color: white;
}

.nav-container .hamburger-menu {
    display: none;
}






/* banner-section-styles */




#banner-section {
    background-image: url(assets/hero-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 7vw 0 2vw;


}

.banner-img-container {
    padding-top: 3%;
    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 62%;
    margin: 0 auto;
    width: 34.3%;
    height: 22vw;
    text-align: center;
    box-sizing: border-box;
    position: relative;



}

.banner-img {
    width: 25%;
    position: relative;
    animation: shaking 2s infinite alternate;

}

.banner-content-cotainer {
    margin: 0 auto;
    text-align: center;

}


.banner-title {
    font-size: 4vw;
    font-weight: 800;
}


.banner-text {
    font-size: 1vw;
}

.btn-container {
    margin-top: 2vw;
    justify-content: center;
    gap: 10px;

}


.new {
    font-size: 1.4vw;
    font-weight: 600;
    background-color: #00FF88;
    color: black;
    border: none;
    width: 4vw;
    height: 1.5vw;
    border-radius: 100px;
    padding: 1vw 1.6vw;
    position: absolute;
    left: 22vw;
    animation: bounce 2s ease-in-out .5s infinite alternate-reverse;


}



/* about-section-styles */





#about-section {
    background-color: #1A0B2E;
    padding-top: 6vw;
    padding-bottom: 7vw;
}

.about-content {
    text-align: center;
    width: 75%;
    margin: 0 auto;

}

.about-title {
    font-size: 24px;
    font-weight: 700;
}

.about-text {
    font-size: 16px;
    width: 50%;
    margin: 2vw auto 0;
}

.horizontal-line {
    width: 75%;
    margin: 4vw auto;

}

.about-ratings-container {
    display: grid;
    width: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw 2vw;

}


.rating-card {
    text-align: center;
}

.rating-card h1 {
    color: #00FF88;
    font-weight: 900;

}

.rating-card h1 i {
    color: #00FF88;
    font-weight: 900;
    font-size: 23px;
}

.rating-card p {
    font-size: 15px;
    text-transform: capitalize;
}




/* choose-section-styles */




#choose-section {
    background-color: #230E3D;
    text-align: center;
    padding-top: 6vw;
    padding-bottom: 7vw;
}

.choose-section-title {
    font-size: 29px;
}

.choose-card-container {
    width: 75%;
    margin: 100px auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.span-row-2 {
    grid-row: span 2;
}

.span-column-2 {
    grid-column: span 2;
}



.choose-card-container .choose-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    text-align: start;
    border-radius: 40px;
}

.choose-card .card-title {
    font-size: 24px;
    margin: 16px 0;
}

.choose-card .card-text {
    line-height: 24px;
}

#lighting {

    color: transparent;
    background-image: linear-gradient(to left top, rgb(255, 0, 200), rgb(251, 255, 0), rgb(187, 0, 255));
    background-clip: text;
    font-size: 40px;
}





/* episode-section-styles */





#episodes-section {
    width: 100%;
    background-color: #1A0B2E;
    text-align: center;
    padding: 50px 0;

}

.episode-container {
    width: 85%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}



.card-content {
    background-color: #250D44;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: start;
    padding: 2vw 1vw 3vw;
    
}

iframe {
    border-radius: 30px 30px 0 0;
    margin-bottom: -3px;
    height: 208px;
    width: 100%;
}

.episode-card {
    background-color: #250D44;
    border-radius: 30px;
    transition: .5s;
    cursor: pointer;
}

.episode-card h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: start;

}

.episode-card p {
    text-align: start;

}

.card-content h5 {
    font-size: 20px;
    font-weight: 600;
    color: #00FF88;
}

.card-content h5 img {
    margin-right: 10px;
}

/* host-details-styles */


.host-card {
    background-color: #250D44;
    border-radius: 30px;
    width: 72%;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 40px 7vw;

}

.host-details {
    text-align: start;
}

.host-details h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;

}

.host-details p {
    margin-bottom: 16px;
}


.host-details .host-social {
    display: flex;
    gap: 16px;
}

.host-social ul {
    list-style: none;
}

.host-social ul a {
    text-decoration: none;
}


.social-logo-circle {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 1000px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* footer-section-styles */




#footer-section {
    background-image: url(assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10% 0 7%;



}

.footer-container {
    width: 75%;
    margin: 1vw auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-logo {
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

.web-social-link {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

.web-social-link ul {
    list-style: none;
}

.web-social-link ul a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 10px;
    font-size: 1vw;
    margin-bottom: 16px;
}

.web-social-link ul a img {
    width: 1vw;
}

.footer-horizontal-line {
    width: 75%;
    margin: 0 auto 16px;
}

.copy-right {
    font-size: 1vw;
}












/* responsive for mobile or small device */


@media screen and (max-width:576px) {



    @keyframes bounce {
        from {
            top: 0;
        }

        to {
            top: 10px;
        }

    }


    /* nav-section */


    .nav-button,
    .nav-bars {
        display: none;
    }

    .nav-container .hamburger-menu {
        display: block;
    }

    .nav-container {
        padding: 16px 8%;
        align-items: center;
    }


    /* banner-section */


    .banner-text {
        font-size: 2vw;
    }

    .banner-content-cotainer .banner-btn-left {

        padding: 5px;
        height: 23px;
        font-size: 9px;


    }

    .banner-content-cotainer .banner-btn-right {
        padding: 5px;

        height: 23px;
        font-size: 10px;

    }



    /* about-section */



    .about-ratings-container {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5vw 1vw;
    }

    .about-content {
        width: 100%;
    }

    .about-text {
        font-size: 10px;
        width: 75%;
    }

    .rating-card h1 {
        font-size: 24px;
    }



    /* choose-section  */



    .choose-card-container {
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .span-row-2 {
        grid-row: span 1;
    }

    .span-column-2 {
        grid-column: span 1;
    }



    /* episode-section */




    .episode-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .episode-card h3 {
        font-size: 20px;
    }

    .card-content {
        padding: 22px;
    }



    /* host-card-section */


    .host-card {
        flex-direction: column;

    }

    .host-details {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    /* footer-section */


    #footer-section {
        background-attachment: cover;
        background-size: 100% 100%;

    }


    .footer-container {
        width: 75%;
        text-align: center;
    }

    .footer-logo {
        font-size: 5vw;
    }

    .web-social-link {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
        margin-right: -10vw;
    }

    .web-social-link ul a {
        font-size: 3vw;

    }

    .web-social-link ul a img {
        width: 3vw;
    }

    .copy-right {
        font-size: 3vw;
    }

    






}





/* responsive for tablet device */



@media screen and (min-width:576px) and (max-width:992px) {


    /* nav-section */


    .nav-button {
        display: none;

    }

    .nav-container .hamburger-menu {
        display: block;
    }

    .nav-container {
        padding: 16px;
        margin: 0 auto;
        align-items: center;
    }


    /* banner-section */


    .banner-text {
        font-size: 1.5vw;
    }



    /* about-section */



    .about-ratings-container {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1vw;
    }


    .about-content {
        width: 100%;
    }



    /* choose-section  */



    .choose-card-container {
        width: 85%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .span-row-2 {
        grid-row: span 1;
    }

    .span-column-2 {
        grid-column: span 1;
    }


    /* episode-section */


    .episode-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-content {
        padding: 22px;
    }


    /* host-card-section */


    .host-card {
        flex-direction: column;

    }




    /* footer-section */


    .footer-logo {
        font-size: 4vw;
    }



    .web-social-link ul a {
        font-size: 2vw;

    }

    .web-social-link ul a img {
        width: 2vw;
    }

    .copy-right {
        font-size: 2vw;
    }

}