* {
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to top left, red, blue); */
}

body {
    font-family: "Inter", sans-serif;
}


/* common styles */


.flex,
.nav-container {
    display: flex;
}

.section {
    width: 100%;
}






.primary-btn {
    color: white;
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right top, rgb(255, 247, 0), rgb(106, 0, 255));
}

.banner-btn-right {

    color: #00FF88;
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid #00FF88;
    background-color: transparent;

}




/* main styles */



/* nav-section-styles */


.nav-container {
    justify-content: space-between;
    background-color: #1A0B2E;
    padding: 16px 12.5%;
}

.nav-container .nav-logo {
    color: white;
    font-weight: 900;

}

.nav-container .nav-logo .wave {
    background-image: linear-gradient(50deg, rgb(255, 0, 200), rgb(0, 26, 255));
    color: transparent;
    background-clip: text;

}

.nav-bars {
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}


.nav-bars ul {
    list-style: none;

}

.nav-bars ul a {
    text-decoration: none;
    color: white;
}

.nav-container .hamburger-menu {
    display: none;
}



/* banner-section-styles */

#banner-section {
    background-image: url(assets/hero-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 7vw 0 2vw;


}

.banner-img-container {
    padding-top: 3%;
    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 62%;
    margin: 0 auto;
    width: 34.3%;
    height: 22vw;

    text-align: center;
    box-sizing: border-box;
    /* margin-bottom: 30px; */


}

.banner-img {
    width: 25%;

}

.banner-content-cotainer {
    margin: 0 auto;
    text-align: center;

}


.banner-title {
    /* margin-top: 30px; */
    font-size: 4vw;
    color: white;
    font-weight: 800;
}


.banner-text {
    font-size: 1vw;
    color: white;
}

.btn-container {
    margin-top: 2vw;
    /* margin-bottom: 30px; */
    justify-content: center;
    gap: 10px;

}


#about-section {
    background-color: #1A0B2E;

    padding-top: 6vw;
    padding-bottom: 7vw;
}

.about-content {
    color: white;
    text-align: center;
    width: 75%;
    margin: 0 auto;

}

.about-title {
    font-size: 24px;
    font-weight: 700;
}

.about-text {
    font-size: 16px;
    width: 50%;
    margin: 2vw auto 0;
    /* margin-bottom: 2vw; */
}

.horizontal-line {
    width: 75%;
    margin: 4vw auto;

}

.about-ratings-container {
    display: grid;
    width: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw 2vw;

}


.rating-card {
    text-align: center;

}

.rating-card h1 {
    color: #00FF88;
    font-weight: 900;

}

.rating-card h1 i {
    color: #00FF88;
    font-weight: 900;
    font-size: 23px;

}

.rating-card p {
    font-size: 15px;
    color: white;
    text-transform: capitalize;
}



#choose-section {
    background-color: #230E3D;
    text-align: center;
    padding-top: 6vw;
    padding-bottom: 7vw;


}

.choose-section-title {
    color: white;
    font-size: 29px;
}

.choose-card-container {
    width: 75%;
    /* height: 49vw; */
    margin: 100px auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.span-row-2 {
    grid-row: span 2;
}

.span-column-2 {
    grid-column: span 2;
}



.choose-card-container .choose-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    text-align: start;
    color: white;
    border-radius: 40px;
}

.choose-card .card-title {
    font-size: 24px;
    margin: 16px 0;

}

.choose-card .card-text {
    line-height: 24px;
}
















@media screen and (max-width:576px) {

    .nav-button,
    .nav-bars {
        display: none;
    }

    .nav-container .hamburger-menu {
        display: block;
    }

    .nav-container {
        padding: 16px 8%;
        align-items: center;
    }

    .banner-text {
        font-size: 2vw;
    }

    .banner-content-cotainer .banner-btn-left {

        padding: 5px;

        height: 23px;
        font-size: 13px;


    }

    .banner-content-cotainer .banner-btn-right {
        padding: 5px;

        height: 23px;
        font-size: 10px;

    }

    .about-ratings-container {
        display: grid;
        /* width: 75%; */
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5vw 1vw;
    }

    .about-content {
        width: 100%;
    }

    .about-text {
        font-size: 10px;
        width: 75%;
        /* margin: 2vw 0 0; */
    }

    .rating-card h1 {
        font-size: 24px;
    }

    .choose-card-container {
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .span-row-2 {
        grid-row: span 1;
    }

    .span-column-2 {
        grid-column: span 1;
    }



}



@media screen and (min-width:576px) and (max-width:992px) {

    .nav-button {
        display: none;

    }

    .nav-container .hamburger-menu {
        display: block;
    }

    .nav-container {
        padding: 16px;
        margin: 0 auto;
        align-items: center;
    }


    .banner-text {
        font-size: 1.5vw;
    }

    .about-ratings-container {
        display: grid;
        /* width: 75%; */
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1vw;
    }


    .about-content {
        width: 100%;
    }


    .about-text {
        font-size: 16px;
    }


    .choose-card-container {
        width: 85%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .span-row-2 {
        grid-row: span 1;
    }

    .span-column-2 {
        grid-column: span 1;
    }



}